<div class="container pt-2">
  <h1>Checkbox</h1>

  <hr/>

  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <h2>Bootstrap Checkbox</h2>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <h2>Custom Checkbox</h2>

      <fieldset>
        <label class="class-checkbox">
          Checkbox 1
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
        <label class="class-checkbox">
          Checkbox 2
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
        <label class="class-checkbox">
          Checkbox 3
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
      </fieldset>
    </div>
  </div>
</div>
